[project]
name = "liteflow"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[dependency-groups]
dev = [
    "black>=25.12.0",
    "pytest>=9.0.2",
]
